<span style="color:blue">

# A1


</span>

# Data Cleaning

In [2]:
import requests
import json
import pandas as pd
import datetime as dt
import time
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
%matplotlib inline

## Read in the files

In [4]:
import os
import pandas as pd

df = pd.read_csv('ClientProfile (Candidate\'s Copy).csv')
# frame = pd.DataFrame()
print(df)

    FirstName  LastName                                            Address  \
0       David   Langdon    Block 475 Bedok North #84-6612 Singapore 475226
1       Bella   Chapman       Block 925 Cactus Dr #76-742 Singapore 925424
2      Connor     Ogden  Block 617 Temasek Boulevard #13-5833 Singapore...
3        Adam  Springer      Block 904 Gul Drive #63-8429 Singapore 904977
4    Kimberly   Wilkins  Block 698 Colombo Court #42-8430 Singapore 698965
..        ...       ...                                                ...
95       Carl    Hudson       Block 490 May Road #64-3411 Singapore 490417
96  Katherine   Burgess   Block 312 Tagore Drive #84-5136 Singapore 312112
97       Jack      Dowd   Block 764 Cecil Street #97-3752 Singapore 764830
98    Carolyn    Mackay    Block 382 Middle Road #42-4807 Singapore 382809
99       Ruth     James  Block 907 Kaki Bukit Place #75-5920 Singapore ...

    MonthlyIncome AmountInStocks AmountInBonds HasRelationshipManager
0            5093           High           Low                    Yes
1            6918           High           Low                    Yes
2            8346            NaN           NaN                    Yes
3            8961           High           Low                     No
4            7294           High           Low                    Yes
..            ...            ...           ...                    ...
95           8079           High           Low                     No
96           7687           High           Low                    Yes
97           2125           High           Low                     No
98           9806           High           Low                    Yes
99           5492           High           Low                    Yes

[100 rows x 7 columns]

In [5]:
df.columns

Index(['FirstName', 'LastName', 'Address', 'MonthlyIncome', 'AmountInStocks',
       'AmountInBonds', 'HasRelationshipManager'],
      dtype='object')

In [6]:
df2 = df[df['AmountInStocks'].notna()]
df3 = df2[df2['AmountInBonds'].notna()]
print(df3.shape)

(90, 7)

In [7]:
df3

,FirstName,LastName,Address,MonthlyIncome,AmountInStocks,AmountInBonds,HasRelationshipManager
0,David,Langdon,Block 475 Bedok North #84-6612 Singapore 475226,5093,High,Low,Yes
1,Bella,Chapman,Block 925 Cactus Dr #76-742 Singapore 925424,6918,High,Low,Yes
3,Adam,Springer,Block 904 Gul Drive #63-8429 Singapore 904977,8961,High,Low,No
4,Kimberly,Wilkins,Block 698 Colombo Court #42-8430 Singapore 698965,7294,High,Low,Yes
5,Adam,Morrison,Block 340 South Bridge Road #99-8314 Singapore...,6967,High,Low,Yes
...,...,...,...,...,...,...,...
95,Carl,Hudson,Block 490 May Road #64-3411 Singapore 490417,8079,High,Low,No
96,Katherine,Burgess,Block 312 Tagore Drive #84-5136 Singapore 312112,7687,High,Low,Yes
97,Jack,Dowd,Block 764 Cecil Street #97-3752 Singapore 764830,2125,High,Low,No
98,Carolyn,Mackay,Block 382 Middle Road #42-4807 Singapore 382809,9806,High,Low,Yes
99,Ruth,James,Block 907 Kaki Bukit Place #75-5920 Singapore ...,5492,High,Low,Yes